:root {
    --color-bg: #050505;
    --color-accent: #ff4e00;
    --font-mono: 'JetBrains Mono', monospace;
}

@keyframes loading {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(200%); }
}

body {
    background-color: var(--color-bg);
    color: white;
    font-family: 'Outfit', sans-serif;
    letter-spacing: -0.01em;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.05);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent);
}


.nav-btn {
    position: relative;
    transition: all 0.3s ease;
}

.nav-btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 0;
    background: var(--color-accent);
    transition: height 0.3s ease;
}

.nav-btn.active {
    background: rgba(255, 78, 0, 0.05);
    color: white;
}

.nav-btn.active::before {
    height: 60%;
}

/* Channel Row Style */
.channel-row {
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.channel-row:hover {
    background: rgba(255, 255, 255, 0.02);
    border-color: rgba(255, 78, 0, 0.3);
    z-index: 10;
}

.channel-row.active {
    background: rgba(255, 78, 0, 0.03);
    border-color: var(--color-accent);
}

/* Server Button */
.server-btn {
    font-family: var(--font-mono);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: all 0.2s ease;
}

.server-btn:hover {
    border-color: rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.02);
}

.server-btn.active {
    background: var(--color-accent);
    color: black;
    border-color: var(--color-accent);
    font-weight: bold;
}

/* Quality Menu Item */
.quality-item {
    font-family: var(--font-mono);
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    width: 100%;
    padding: 8px 12px;
    text-align: left;
    transition: all 0.2s ease;
    color: rgba(255, 255, 255, 0.4);
    border: none;
    background: transparent;
    cursor: pointer;
}

.quality-item:hover {
    background: rgba(255, 255, 255, 0.05);
    color: white;
}

.quality-item.active {
    color: var(--color-accent);
    background: rgba(255, 78, 0, 0.05);
}


#volume-slider {
    appearance: none;
    -webkit-appearance: none;
}

#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
    background: white;
    cursor: pointer;
    border-radius: 0;
}
